@model List<LearnerProject.Models.Entitities.FAQ>

<div class="untree_co-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mr-auto mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="0">
                <img src="/Templates/learner-1.0.0/images/img-school-5-min.jpg" alt="image" class="img-fluid">
            </div>
            <div class="col-lg-7 ml-auto" data-aos="fade-up" data-aos-delay="100">
                <h3 class="line-bottom mb-4">Sık Sorulan Sorular</h3>
                <p>Eğitim platformumuz ve kurs süreçleri ile ilgili merak ettiğiniz tüm soruların cevaplarını burada
                    bulabilirsiniz. </p>


                <div class="custom-accordion" id="accordion_1">
                    @{
                        int count = 0;
                    }
                    @foreach (var item in Model)
                    {
                        count++;
                        var collapseId = "collapse_" + item.FAQId;
                        var headingId = "heading_" + item.FAQId;
                        var showClass = count == 1 ? "show" : "";
                        var collapsedClass = count == 1 ? "" : "collapsed";
                        var ariaExpanded = count == 1 ? "true" : "false";

                        <div class="accordion-item">
                            <h2 class="mb-0">
                                <button class="btn btn-link @collapsedClass" type="button" data-toggle="collapse"
                                    data-target="#@collapseId" aria-expanded="@ariaExpanded"
                                    aria-controls="@collapseId">@item.Question</button>
                            </h2>

                            <div id="@collapseId" class="collapse @showClass" aria-labelledby="@headingId"
                                data-parent="#accordion_1">
                                <div class="accordion-body">
                                    <div class="d-flex">
                                        <div class="accordion-img mr-4">
                                            <img src="@item.ImageUrl" alt="Image" class="img-fluid">
                                        </div>
                                        <div>
                                            <p>@item.Answer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>


                <!-- .accordion-item -->
                <!--<div class="accordion-item">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">We Value Good Characters</button>
        </h2>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
            <div class="accordion-body">
                <div class="d-flex">
                    <div class="accordion-img mr-4">
                        <img src="images/img-school-2-min.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
                <!-- .accordion-item -->
                <!--<div class="accordion-item">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Your Children are Safe</button>
        </h2>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
            <div class="accordion-body">
                <div class="d-flex">
                    <div class="accordion-img mr-4">
                        <img src="images/img-school-3-min.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div>
                        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                        <p>Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>-->
                <!-- .accordion-item -->


            </div>

        </div>
    </div>
</div>
